#jinja2: lstrip_blocks: True
[kdcdefaults]
    kdc_listen = 88
    kdc_tcp_listen = 88

[realms]
    {% for key, realm in krb5.config.kdc.realms.items() %}
    {% if realm %}
    {{ key }} = {
        {% if realm.database_name is defined %}
        database_name = {{ realm.database_name }}
        {% endif %}
        {% if realm.acl_file is defined %}
        acl_file = {{ realm.acl_file }}
        {% endif %}
        {% if realm.database_module is defined %}
        database_module = {{ realm.database_module }}
        {% endif %}
    }
    {% endif %}
    {% endfor %}

{% if krb5.config.kdc.dbmodule is defined %}
[dbmodules]
    {% for key, dbmodule in krb5.config.kdc.dbmodule.items() %}
    {{ key }} = {
        {% if dbmodule.db_library is defined %}
        db_library = {{ dbmodule.db_library }}
        {% endif %}
        {% if dbmodule.ldap_kerberos_container_dn is defined %}
        ldap_kerberos_container_dn = {{ dbmodule.ldap_kerberos_container_dn }}
        {% endif %}
        {% if dbmodule.ldap_kdc_dn is defined %}
        ldap_kdc_dn = {{ dbmodule.ldap_kdc_dn }}
        {% endif %}
        {% if dbmodule.ldap_kadmind_dn is defined %}
        ldap_kadmind_dn = {{ dbmodule.ldap_kadmind_dn }}
        {% endif %}
        {% if dbmodule.ldap_service_password_file is defined %}
        ldap_service_password_file = {{ dbmodule.ldap_service_password_file }}
        {% endif %}
        {% if dbmodule.ldap_servers is defined %}
        ldap_servers = {{ dbmodule.ldap_servers }}
        {% endif %}
        {% if dbmodule.ldap_conns_per_server is defined %}
        ldap_conns_per_server = {{ dbmodule.ldap_conns_per_server }}
        {% endif %}
    }
    {% endfor %}
{% endif %}